*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("reset.css");

body{
    margin: 0;
    padding: 0;
    background-color: #F7f1e9;
    overflow-x: hidden;
    

}


.home_header{
    position: absolute;
    z-index: 2;  
    /* border: 1px solid black;   */
    /* opacity: 0; */
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    margin:0 auto ;

   


}

.logo{
    width: 100px;
    height: 130px;
    /* background-color: blue; */
    /* border: 1px solid yellow; */
    /* padding: 10px; */
    margin-left: 10px;
    margin-top: 10px;
   
  
}


.search{
    text-align: right;
    position: absolute;
    bottom: 85px;
    right: 44px;
    
    /* padding-bottom: 30px; */
}



.search i{
    color: white;
    /* float: right; */
    font-size: 14px;
    margin-right:5px ; 
    

}

.search input{
    border: 1px solid white;
}


/* .home_input{
    margin-right: -10px;
    text-align: right;
  
}  */

.navbar{ 
    /* background-image: url("../IMG/white_logo.png"); */
    display: flex;
    text-align:right;
    /* text-align: right; */
    /* border: 1px solid red; */
    /* float:right; */
    /* margin-right: 20px; */
    /* margin-top: 100px; */
    /* margin-right: 20px; */
    list-style: none;
    position: absolute;
    z-index: 3;
    right:-16px;
    bottom: 40px;
   
    

}

.home_header li{
    /* margin-right: 20px; */
    /* border: 1px solid green; */
    font-size:23px;
    margin-right:40px;
    /* margin-bottom: 50px; */
    
    
}


.pro_li{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
    width: 120px;
    height: 80px;
    
}



.nav_pro:hover .pro_li{
    display: block;
}


.pro_li a{
    font-size: 17px;
    line-height: 2;
    width: 120px;
    text-align: center;
    color:#556952;
    font-weight: bold;
    margin-top: 5px;
    /* border: 1px solid black; */

}

.home_header a{
    display: block;
    font-family: 'Merriweather', serif;
    color:white;
    text-decoration: none;

    
}



.home_header a:hover{
    display: block;
    color: #656c72; /* 當滑鼠經過時，超連結文字顏色變成桃紅色 */
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 2px;
    left: 3px;


}


.first{
    /* position: relative; */
    /* border: 1px solid red; */
    /* left: 0;
    top:0;  */
    background-color: white;
    background-image: url(../IMG/home_banner1\ \(2\).jpg);
    width: 100%;
    height: 512px;
    position: relative;
    background-size:cover ;    

}




.ba2{
    position: absolute;
    z-index: 1;
    bottom:0px;
    left:239px;

}


.ba4{
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    

}


.first h1{
    font-size: 46px;
    z-index: 3;
    /* margin-top: 50px; */
    /* border: 1px solid blue; */
    position: absolute;
    top:270px;
    left: 530px;
    font-family: 'Merriweather', serif;
    color: white;


}


.second{
    background-color: #F7f1e9;
    display: block;
    margin-top:-9px;
    text-align: center;

}

.s_banner{
    /* width: px;
    height: 450px; */
    overflow: hidden;
    margin: 5px auto;
    /* border: 1px solid black; */
}

.s_banner img{
    transform:scale(1,1);transition: all 1s ease-out;
}

.s_banner img:hover{
    transform:scale(1.2,1.2);
}



.second .b3{
    margin: 0 auto;
    /* text-align: center; */
    display: block;
    margin-top: 5px;
    /* border: 1px solid black; */
    background-color: white;
    padding: 5px;
}

.s_banner2{
    text-align: center;
}

.second ul{
    display:inline-block;
    /* border: 1px solid black; */
    /* margin: 0 auto; */
    list-style: none;
    /* margin-left: 300px; */
    height:350px;
   
    
}



.second li{
    /* border: 1px solid red; */
    margin: 0 40px;
    display: inline-block;
    

}

.second li a{
    display: block;
    

}

.second li img{
   border-radius:10px ;
   
}

.pro_1{
    position: relative;
    width: 383px;
    height: 318px;
    /* border: 1px solid blue; */

}

.pro_2{
    position: relative;
    width: 383px;
    height: 318px;
}

.pro1_img{
    /* background-color: rgba(255, 255, 255, .8); */
    /* border: 1px solid blue; */
    
    
}

.second .sp1{
   display: block;
   position: absolute;
   width: 383px;
   height: 318px;
   background-color: rgba(255, 255, 255, .5);
   z-index: 2;
   left: 0;
   top: 0;
   display: none;
}

.second .sp2{
   display: block;
   position: absolute;
   width: 383px;
   height: 318px;
   background-color: rgba(255, 255, 255, .5);
   z-index: 2;
   left: 0;
   top: 0;
   display: none;

}

.sp1 span{
    position: absolute;
    top: 43%;
    left: 34%;
    font-size: 35px;
    color: #656c72;
    display: none;
    font-weight: bold;
}

.sp2 span{
    position: absolute;
    top: 43%;
    left: 34%;
    font-size: 35px;
    color: #656c72;
    display: none;
    font-weight: bold;

}

.pro_1:hover .sp1{
    display: block;
}

.pro_2:hover .sp2{
    display: block;
}

.pro_1:hover .sp1 span{
    display: block;
}

.pro_2:hover .sp2 span{
    display: block;
}


.second .sp2{
    display: none;
}

.pro_2:hover .sp2{
    display: block;
}


footer{
    /* position: relative; */
    /* border: 1px solid black; */
    background-color: #F7f1e9;
    display: block;
    /* margin-bottom: 20px; */
    /* height: 100px; */
    /* font-size: 0; */
    background-image: url(../IMG/footer.png);
    height: 115px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    text-align: center;

  

    

    
}


.footer{
    width: 1200px;
    margin: 0 auto;
}

/* footer img{
    width: 1455px;

} */

footer .test{
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;

}

/* footer .test{
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    left: 484px;
} */

.footer_ul{
    text-align: center;
}

footer ul{
    /* display: flex;
    margin:0 auto;
    margin-bottom: 30px
    position: absolute;
    z-index: 1;
    /* left: 340px;
    bottom: 30px;  */
    /* border: 1px solid black; */ 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 115px; 
    list-style: none;
    

}   

footer li{
    /* margin-right: 15px; */
    text-decoration: none;
    border: 1px salmon;
    /* width: 50%; */
    text-align: center;
    padding-top: 50px;


}



footer li:last-child{
    padding: 0;
}

footer li:first-child{
    padding-left: 300px;
    margin-top: 5px;
   
}

footer li:nth-child(2){
    padding-right: 300px;
    margin-top: 5px;
   

}


footer li a i{
    color: white;
    font-size: 20px;

    
}


footer li a{
    text-decoration: none;
    font-family: inherit;
    margin-right: 10px;
}


footer li span{
    /* display: block; */
    color: white;
    margin-left: 20px;
    /* border-left: 2px solid yellow; */
    font-size: 16px;
    
}

.about_header{
    /* border: 1px solid black; */
    background-color: #556952;
    position: relative;

}


.about_header .logo{
    width: 100px;
    height: 130px;
    margin-left: 10px;
    margin-top: 5px;
   

}



.about_nav{
    display: flex;
    /* text-align: right; */
    /* border: 1px solid red; */
    /* margin-top: 100px; */
    list-style: none; 
    position: absolute;
    bottom: 15px;
    right: 0px;
    
   

}


.about_header li{
    /* border: 1px solid green; */
    font-size:23px;
    margin-right:40px;
   

}

.about_header li a:hover{
    display: block;
    color: #d3cc89;
    position: relative;
    top: 2px;
    left: 3px;
}

.about_search{
    position: absolute;
    top:50px;
    right: 40px;
}

.about_search i{
    color: white;
    font-size: 14px;
    margin-right: 5px;

}


.about_search input{
    border: 1px solid white;
    font-size: 15px;
}

.about_header li i{
    color: white;
    margin-right: 5px;
    /* margin-top: 5px; */
    font-size: 14px;
}



.about_header li a{
    display: block;
    font-family: 'Merriweather', serif;
    color:white;
    text-decoration: none;


}

.pro_li a{
    font-size: 17px;
    line-height: 2;
    width: 120px;
    text-align: center;
    color:#556952;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    /* border: 1px solid black; */

}

.pro_li{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
    width: 120px;
    height: 80px;
    
}



.aboutnav:hover .pro_li{
    display: block;
}



.about_main{
    text-align: center;
}


.ab1{
    margin: 30px auto;
    /* text-align: center; */
}

.ab2{
    margin: 0 auto;
}

.googlemap{
    /* border: 1px solid black; */
    margin-top: 20px;
    position: relative;
    height: 400px;
}

.googlemap .gmp{
    position: absolute;
    bottom: 80px;
    right: 226px;
    z-index: 2;

}

.googlemap img{
   margin-left: 227px;
   /* position: absolute; */
   display: block;
   position: absolute;
   z-index: 0;
}

.googlemap h1{
    position: absolute;
    top: 50px;
    left: 260px;
    color: white;
    font-size: 36px;
    font-family: 'Merriweather', serif;
    
}

.googlemap h2{
    position: absolute;
    bottom: 220px;
    left: 260px;
    color: white;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.design_main{
    height: 1500px;

}

.design_main ul{
    /* border: 1px solid black; */
    position: relative;
    
}

.design_main li{
    list-style: none;
}

.design_main img{
    display: block;
}

.design_main .db1{
    position: absolute;
    top: 50px;
    left: 220px;

}



.design_main .db2{
    position: absolute;
    top: 20px;
    right: 220px;
}


.design_main .db3{
    position: absolute;
    top: 540px;
    left: 220px;

}

.design_main .db4{
    position: absolute;
    top: 560px;
    right: 220px;
}


.design_main .db5{
    position: absolute;
    left: 610px;
    top: 900px;
}

.design_main .db6{
    position: absolute;
    right: 220px;
    top: 960px;
}

.design_main div{
    /* border: 1px solid black; */
    background-color: #556952;
    
}

.design_main p{
    color: white;
    margin-left: 30px;
    line-height: 1.5;
    font-family: 'Merriweather', serif;

}


.item_top img{
	margin-top:20px;
    margin-left: 220px;
    margin-bottom: 10px;
    border-radius: 10px;

}




.item_top button{
    background-color: #e6e7e0;
    margin-right: 20px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1.5px solid #656c72;
    


}


.item_top .bt1{
    margin-left: 220px;
}


.item_top a{
    display: block;
    color: #656c72;
    text-decoration: none;
    font-size: 16px;

    
}

.items{ 
    
    /* border: 1px solid red; */
    text-align: center;
   
    

} 

.items ul{
	/* border: 1px solid black; */
    margin-left: 80px;
    padding: 10px 130px;
    /* margin-right: 15px; */
    margin-top: 10px;
   
    

}


.items li{
	display: inline-block;
    margin-right: 92px;
    /* border: 1px solid green; */
    margin-bottom: 45px;

}




.items img{
    transform:scale(1,1);transition: all .5s ease-out;
}

.items img:hover{
    transform:scale(1.05,1.05);
    -webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
       
}

.items p{
    text-align: center;
    color: #656c72;
    margin-top: 5px;

}



.item_pic{
    /* border: 1px solid black; */
    text-align: left;
    padding: 60px 190px;
    position: relative;
    
}
/* 
.item_pic img{
    margin-left: 100px;
} */

.item_pic ul{
    display: flex;
  

}

.item_pic li{
    list-style: none;
    margin-right: 29px;
    margin-top: 20px;

}

.item_introduce{
    /* border: 1px solid red; */
    text-align: right;
    position: absolute;
    top:70px;
    right: 250px;


}

.item_introduce h1{
    font-size: 36px;
    font-family: inherit;
    color: #bf844b;
    line-height: 2.5;
    border-bottom:2px solid #656c72 ;

}

.item_introduce h2{
    font-size: 20px;
    font-family: inherit;
    color: #656c72;
    text-align: left;
    margin-top: 30px;
    line-height: 1.5;
    font-weight: normal;

}

.item_introduce h3{

    font-size: 18px;
    font-family: inherit;
    color: #656c72;
    text-align: left;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: normal;

}

.item_introduce button{
    display: block;
    text-align: left;
    font-size: 25px;
    font-family: inherit;
    margin-top:50px ;
    background-color: #e6e7e0;
    border: 2px solid #656c72;
    border-radius: 20px;
    width: 150px;
    height: 40px;

}

.item_introduce a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #656c72;
    font-family: inherit;

}

.contact_banner{
    text-align: center;
    margin-top:30px ;
}

.contact_banner img{
    border-radius: 10px;
}

.contact_banner h1{
    color: #656c72;
    font-family: inherit;
    font-size: 35px;
    margin-top: 20px;

}

.contact_introduce{
    padding: 30px 250px;
    position: relative;
    /* border: 1px solid black; */
    height: 500px;

}

.contact_introduce h1{
    color: #656c72;
    font-size: 30px;
    font-family: inherit;
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: normal;
}

.contact_introduce h2{
    font-size: 25px;
    color: #656c72;
    font-family: inherit;
    line-height: 1.6;
    font-weight: normal;
}

.contact_input{
    position: absolute;
    top: 25px;
    right: 405px;
    border-left: 2px solid #656c72;

}

.contact_input ul{
    display: block;
    margin-left: 40px;
   

}

.contact_input li{
    margin-bottom: 30px;
    list-style: none;


}

.contact_input li h1{
    margin-bottom:15px ;
    font-size: 22px;
    color: #656c72;
    font-family: inherit;
    font-weight: normal;
}

.contact_input .name{
    border: white;
    height: 25px;

}

.contact_input .phone{
    border: white;
    height: 25px;
    width: 280px;

}

.contact_input button{
    margin-bottom: 120px;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    width: 80px;
    background-color:#e6e7e0;
    border:2px solid #656c72;
    
}

.contact_input a{
    font-size: 20px;
    text-decoration: none;
    color: #656c72;
    
}

.course_pic{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;

}

.course_pic img{
    border-radius: 10px;
}

.course_introduce{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    
}

.course_introduce img{
    display: block;

}

.course_introduce ul {
    /* margin-top: 30px; */
    /* display: inline; */
    list-style: none;
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.course_introduce li{
    display: flex;
    margin-bottom: 35px;
    
    
    
}

.course_ba1{
    position: relative;
    /* border: 1px solid red; */
    
    
    
}

.course_p{
    position: absolute;
    top: 40px;
    left: 40px;
}

.course_ba2{
    position: relative;
    
   
    
}

.course_p2{
    position: absolute;
    top: 40px;
    left: 40px;

}


.course_introduce h1{
    color: white;
    font-family: inherit;
    line-height: 2;
    font-weight: lighter;
    font-size: 25px;
    border-bottom: 1px solid white;
    width: 300px;
    text-align: left;
    

}

.course_introduce p{

    color: white;
    font-family: inherit;
    font-size: 16px;
    text-align: left;
    margin-top:5px ;
    
}

.login_banner{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.login_banner img{
    border-radius: 10px;
}

.login_1{
    padding: 30px 250px;
    position: relative;
    height: 500px;
    /* border: 1px solid black; */
    font-family: inherit;
}

.login_2{
    position: absolute;
    top: 28px;
    right: 360px;
    border-left: 1px solid #656c72;
}

.login_1 ul{
    margin-left: 50px;
}

.login_1 li{
    list-style: none;
}

.login_1 .login_btn{
    background-color:#e2e5c7;
    color: #656c72;
    border:#e2e5c7;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    height: 30px;
    margin-top: 20px;
    
}

.login_1 h1{
    font-size: 20px;
    font-weight: normal;
    color: #656c72;
    margin-bottom: 5px;
    
}

.login_1 .email{
    border: 1px solid white;
    width: 320px;
    height: 28px;
    margin-bottom: 25px;
}

.login_1 .password{
    border: 1px solid white;
    width: 200px;
    height: 28px;
    margin-bottom: 25px;

}

.login_2 .phone_number{
    border: 1px solid white;
    width: 250px;
    height: 28px;
    margin-bottom: 50px;
}

.login_1 .fp{
    background-color: #F7f1e9;
    width: 90px;
    height: 25px;
    border:1px solid #656c72;
    margin-bottom: 40px;
}

.fp:hover{
    border: 3px solid #656c72;
}

.fp a{
    font-size: 12px;
    text-decoration: none;
    color: #656c72;
}

.login_btn2{
    background-color: #F7f1e9;
    width: 120px;
    height: 25px;
    border:1px solid #656c72;

}

.login_btn2 a{
    display: block;
    text-decoration: none;
    color: #656c72;
}
.login_btn2:hover{
   border: 3px solid #656c72;
}




