*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("reset.css");

body{
    margin: 0;
    padding: 0;
    background-color: #F7f1e9;
    overflow-x: hidden;
    

}

.about_header{
    /* border: 1px solid black; */
    background-color: #556952;
    position: relative;

}


.about_header .logo{
    width: 100px;
    height: 130px;
    margin-left: 10px;
    margin-top: 5px;
   

}



.about_nav{
    display: flex;
    /* text-align: right; */
    /* border: 1px solid red; */
    /* margin-top: 100px; */
    list-style: none; 
    position: absolute;
    bottom: 15px;
    right: 0px;
    
   

}


.about_header li{
    /* border: 1px solid green; */
    font-size:23px;
    margin-right:40px;
   

}



.about_search{
    position: absolute;
    top:50px;
    right: 40px;
}

.about_search i{
    color: white;
    font-size: 14px;
    margin-right: 5px;

}


.about_search input{
    border: 1px solid white;
    font-size: 15px;
}

.about_header li i{
    color: white;
    margin-right: 5px;
    /* margin-top: 5px; */
    font-size: 14px;
}

.pro_li{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
    width: 120px;
    height: 80px;
    
}

.pro_li a{
    font-size: 17px;
    line-height: 2;
    width: 120px;
    text-align: center;
    color:#656c72;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    /* border: 1px solid black; */

}



.about_header a{
    display: block;
    font-family: 'Merriweather', serif;
    color:white;
    text-decoration: none;


}

.about_nav:hover .pro_li{
    display: block;
}

.about_header li a:hover{
    display: block;
    color: #d3cc89;
    position: relative;
    top: 2px;
    left: 3px;
}


.item_banner{
    background-image: url(../IMG/course1-1.png);
    height: 400px;
    margin-bottom: 20px;
    /* position: relative; */

}

.item_banner h1{
    color: #ffffff;
    font-size: inherit;
    font-size: 40px;
    text-align: center;
    padding-top: 170px;
}




.item_top{
    display: inline-flex;
    margin-left: 230px;
    /* border-radius: 5px; */
    /* border: 1.5px solid #656c72; */
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all o.15s ease; */
    /* border-bottom:1px solid #ffffff ; */
    


}

.item_top a:hover{
    color: #dfcece;
}


.item_top .bt1{
   /* border-bottom:1px solid #656c72 ; */
}

.item_top .btn2{
    margin-left: 30px;
    /* border-left:1px solid #656c72; */
    
}


.item_top a{
    display: block;
    color: #656c72;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-bottom:1px solid #656c72 ;

    
}

.items{ 
    
    /* border: 1px solid red; */
    text-align: center;
   
    

} 

.items ul{
	/* border: 1px solid black; */
    margin-left: 80px;
    padding: 10px 130px;
    /* margin-right: 15px; */
    margin-top: 10px;
   
    

}


.items li{
	display: inline-block;
    margin-right: 92px;
    /* border: 1px solid green; */
    margin-bottom: 45px;

}




.items img{
    transform:scale(1,1);transition: all .5s ease-out;
}

.items img:hover{
    transform:scale(1.05,1.05);
    -webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
       
}

.items p{
    text-align: center;
    color: #656c72;
    margin-top: 5px;

}




footer{
    /* position: relative; */
    /* border: 1px solid black; */
    background-color: #F7f1e9;
    display: block;
    /* margin-bottom: 20px; */
    /* height: 100px; */
    /* font-size: 0; */
    background-image: url(../IMG/footer.png);
    height: 115px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    text-align: center;

  

    

    
}


.footer{
    width: 1200px;
    margin: 0 auto;
}

/* footer img{
    width: 1455px;

} */

footer .test{
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;

}

/* footer .test{
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    left: 484px;
} */

.footer_ul{
    text-align: center;
}

footer ul{
    /* display: flex;
    margin:0 auto;
    margin-bottom: 30px
    position: absolute;
    z-index: 1;
    /* left: 340px;
    bottom: 30px;  */
    /* border: 1px solid black; */ 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 115px; 
    list-style: none;
    

}   

footer li{
    /* margin-right: 15px; */
    text-decoration: none;
    border: 1px salmon;
    /* width: 50%; */
    text-align: center;
    padding-top: 50px;


}



footer li:last-child{
    padding: 0;
}

footer li:first-child{
    padding-left: 300px;
    margin-top: 5px;
   
}

footer li:nth-child(2){
    padding-right: 300px;
    margin-top: 5px;
   

}


footer li a i{
    color: white;
    font-size: 20px;

    
}


footer li a{
    text-decoration: none;
    font-family: inherit;
    margin-right: 10px;
}


footer li span{
    /* display: block; */
    color: white;
    margin-left: 20px;
    /* border-left: 2px solid yellow; */
    font-size: 16px;
    
}


